*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
body{
    width:100%;
    background-color: black;
}

  header{
    background-color:black;
  }
  
  #logo{
    color:rgb(230, 230, 17);
    font-size:28px;
  }
  
  nav{
    display:flex;
    justify-content: space-between;
    padding:25px;
    text-align: center;
    flex-wrap:wrap;
  }
  
  .list_items ul{
    display:flex;
    list-style-type: none;
    flex-wrap: wrap;
  }
  
  ul li a{
    text-decoration: none;
    padding:8px;
    font-size: 28px;
    color:white;
    margin-right: 8px;
  }

  /* .main_page_content{
    height: 70vh;
    display:flex;
    align-items:start;
    justify-content:center;
    text-align: start;
    flex-direction: column;
    width:50%;
    padding-left: 15%;
  } */

  .main_page_content{
    display:flex;
    padding:1.2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

#main_btn{
    font-size:18px;
    margin-top: 20px;
    padding:5px;
    border-radius:3px;
    border:1px solid black;
    background-color: rgb(230, 230, 17);
    color:black;

}

/* .order_button{
  text-align: center;
  width:100%;
} */

img{
  height: 700px;
}

.hero_page_left_section h1{
  font-size: 100px;
  color:rgb(230, 230, 17);
}

.hero_page_left_section h2{
  color:white;
}

.hero_page_left_section{
  display: flex;
  flex-direction: column;
  align-items: start;
}